<ion-header class="cabecalho">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo-especialidades">

  <div class="faixa-especialidades">
    <h2>Especialidades Médicas</h2>
    <p>Conheça nossas especialidades e áreas de atendimento</p>

    <div class="container-busca">
      <ion-searchbar class="busca-especialidade" placeholder="Buscar especialidade..." [(ngModel)]="termoBusca"
        (ionInput)="filtrar()">
      </ion-searchbar>
    </div>
  </div>

  <div class="especialidades">

    <div class="lista-especialidades">

      <button class="card-especialidade" *ngFor="let esp of especialidadesFiltradas" (click)="abrir(esp)">

        <div class="icone-especialidade {{ esp.getTipo() }}">

          <ion-icon [name]="
              esp.getTipo() === 'Cardiologia'   ? 'heart-outline' :
              esp.getTipo() === 'Neurologia'    ? 'scan-circle-outline' :
              esp.getTipo() === 'Oftalmologia'  ? 'eye-outline' :
              esp.getTipo() === 'Ortopedia'     ? 'bandage-outline' :
              esp.getTipo() === 'Pediatria'     ? 'medkit-outline' :
                                                  'medkit-outline'
            ">
          </ion-icon>

        </div>

        <div class="texto-especialidade">
          <h4>{{ esp.getNome() }}</h4>
          <p>{{ esp.getDescricao() }}</p>
        </div>

      </button>
    </div>
  </div>
</ion-content>